main{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-block: 24px;
}

main img {
  width: 286px;
  height: 286px;

  object-fit: cover; /*Esse object-fit serve para qunado temos uma img sendo um quadrado perfeito serve para ela cobrir esse espaço*/
}

